name: speakercleaner
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  riverpod: ^3.0.3
  flutter_riverpod: ^3.0.3
  just_audio: ^0.9.36
  audio_session: ^0.1.18
  shared_preferences: ^2.5.3
  avatar_glow: ^3.0.1
  purchases_flutter: ^9.9.9
  url_launcher: ^6.3.2
  share_plus: ^12.0.1
  # flutter_local_notifications: ^17.2.4
  flutter_local_notifications: ^19.5.0
  # timezone: ^0.9.0
  timezone: ^0.10.0
  flutter_timezone: ^5.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/voices/
    - assets/images/


  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700